body
{
	background-color:#fff;
	color:#333;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:400;
}

form
{
	padding-top:13px;
	border:0;
}

input
{
	line-height:21px;
	color:gray;
	width:200px;
	height:27px;
	vertical-align:top;
	border:1px solid silver;
}

table
{
	border-collapse:collapse;
	border-color:silver;
	border-style:solid;
	border-width:1px;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	width:100%;
}

table.main
{
	border:0;
}

th
{
	background-color:#eee;
	border-collapse:collapse;
	border-color:silver;
	border-style:solid;
	border-width:1px;
	color:#666;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	padding:4px;
	text-align:left;
}

th a
{
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

th a:link
{
	color:#03697A;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

th a:visited
{
	color:#03697A;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

th a:active
{
	color:#00709F;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

th a:hover
{
	color:#00709F;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

tr.main
{
	border:0;
}

th.left
{
	width:25%;
}

th.right
{
	width:75%;
}

td.leftpane
{
	width:20%;
}

td.left
{
	border:0;
}

td.rightpane
{
	width:80%;
}

td.right
{
	border:0;
}

td.search
{
	border:0;
	text-align: center;
	padding-top:0px;
	padding-bottom:0px;
}

td.nav
{
	border:0;
	text-align: left;
	padding-top:0px;
	padding-bottom:0px;
}

td.resize
{
	background:white;
	border-left:0;
	border-right:0;
	border-top:0;
	border-bottom:0;
	width:0px;
	cursor:w-resize;
	padding:0px;
}

iframe
{
	border:0px;
}

th.new
{
	width:224px;
}

th.old
{
	width:226px;
}

tr
{
	border-collapse:collapse;
	border-color:silver;
	border-style:solid;
	border-width:1px;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:4px;
}

tr.yellow
{
	background-color:#ffff9C;
}

tr.yellowbold
{
	background-color:#ffff9C;
	font-weight:700;
}

td
{
	border-collapse:collapse;
	border-color:silver;
	border-style:solid;
	border-width:1px;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:4px;
}

td.center
{
	text-align:center;
}

td.right
{
	text-align:right;
}

td.sep
{
	border-color:white silver;
}

td.tooltip
{
	border-width: 0px;
	font-size : 16px;
	font-style : italic;
	text-align: center;
	width: 120px;
}

b
{
	font-weight:700;
}

p
{
	color:#333;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:400;
	margin:0;
	padding-bottom:5px;
	padding-top:5px;
}

p.center
{
	text-align:center;
}

.funcdesc
{
	font-size:16px;
}

ol
{
	font-size:13px;
}

ul
{
	color:#333;
	font-family:'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
	font-size:13px;
	padding-left:5px;
	margin:0;
}

ul.cell
{
	margin:0 0 0 25px;
}

.copyright
{
	font-size:11px;
	border-left: 1px solid #c1c1c1;
	margin:10px 0 0 15px;
	float:left;
	padding:0;
}

.name
{
	font-size:11px;
	margin:10px 0 0 15px;
	float:left;
	padding:0;
}

.cr
{
	display:inline;
	padding:0 15px;
}

.footer
{
	border-top: 1px solid #c1c1c1;
	float:left;
	margin-top:10px;
	width:100%;
}

div
{
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
}

div.indent
{
	margin-left:2em;
}

div.tip
{
	background-color: #ffffff;
	border: 1px solid #103060;
	font-size : large;
	width: 120px;
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
}

div.result
{
	padding-top:3px;
	padding-left:3px;
}

div.result-title
{
	font-size:14px;
	padding-top:12px;
}

li
{
	list-style-type:none;
	padding-left:4px;
}

li.parent
{
	list-style-image:url('../images/bullet.bmp');
	padding-left:0;
}

li.single
{
	list-style-type:none;
	padding-left:0;
}

a
{
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

a.nowrap
{
	white-space:nowrap;
	font-weight:600;
}

a:link
{
	color:#00709f;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

a:visited
{
	color:#03697a;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

a:active
{
	color:#2a2a2a;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

a:hover
{
	color:#3390b1;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

a.ext:link
{
	color:#00709f;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

a.ext:visited
{
	color:#03697a;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

a.ext:active
{
	color:#2a2a2a;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

a.ext:hover
{
	color:#3390b1;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

a.button
{
	padding:4px;
	margin-left:5px;
	background:#E9E9E9;
	border:1px solid #999999;
	text-decoration:none;
	font-size:12px;
	line-height:16px;
	text-align:center;
	color:#444;
	cursor:pointer;
}

h1
{
	color:#707070;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight:400;
	margin:0;
	padding-bottom:33px;
	padding-top:15px;
}

.left_behind
{
	color:#A0A0A0;
}

.small
{
	font-size:12px;
	margin:-9px 0 -4px;
	padding-bottom:0;
	padding-top:5px;
}

h2
{
	color:#888;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:400;
	line-height:normal;
	padding-bottom:0;
	padding-top:20px;
}

h3
{
	color:navy;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:700;
	line-height:normal;
}

.code
{
	font-family:Consolas, "Courier New", Courier, mono;
	font-size:12px;
	white-space:nowrap;
}

.codeheader
{
	background-color:#eee;
	border:1px solid #aaa;
	color:#48484c;
	font-family:Consolas, "Courier New", Courier, Verdana, Arial;
	font-size:12px;
	padding:16px;
	white-space:normal;
	width:90%;
}

.codelike
{
	background-color:#eee;
	border:1px solid #aaa;
	border-radius:3px;
	padding-right:5px;
	padding-left:5px;
	color:#48484c;
	font-family:Consolas, "Courier New", Courier, Verdana, Arial;
	font-size:12px;
}

.codebox
{
	background: url('../images/hk.jpg') no-repeat 100% 100%;
	background-color:#fff;
	border-bottom:1px solid #aaa;
	border-left:1px solid #aaa;
	border-right:1px solid #aaa;
	border-top:1px solid #aaa;
	color:#465584;
	font-family:Consolas, "Courier New", Courier, Verdana, Arial;
	font-size:12px;
	overflow-x:auto;
	padding:8px 8px 24px;
	white-space:nowrap;
	width:97%;
}

.S0
{
	color:#2a2a2a;
}

.S1
{
	color:green;
	font-style:italic;
}

.S2
{
	color:green;
	font-style:italic;
}

.S3
{
	color:#00F;
}

.S4
{
	color:#000090;
}

.S5
{
	color:#00F;
}

.S6
{
	color:olive;
}

.S7
{
	color:red;
}

.S8
{
	color:#FF8000;
}

.S9
{
	color:#2a2a2a;
}

.S10
{
	color:gray;
}

.S11
{
	color:olive;
}

.S12
{
	color:#dc143c;
}

.S13
{
	color:red;
}

.S14
{
	color:#939;
}

.S15
{
	color:#0080ff;
}

span
{
	background:transparent;
	color:#000;
	font-family:Consolas, "Courier New";
}

span.emphasis
{
	text-decoration:underline;
}

.experimental
{
	background:#ffffe0;
	border:solid;
	border-color:red;
	font-size:large;
	font-weight:700;
	padding:4px;
}

.specialnote
{
	background:#fffffa;
	border:solid;
	border-color:blue;
	font-size:large;
	font-weight:500;
	padding:4px;
}

span.mark_v
{
	color:#fff;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:600;
	margin:0;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:1px;
	background-color:#0979A8;
	box-shadow: 5px 5px 9px #888;
}
img.logo
{
	box-shadow: 5px 5px 20px #aaa;
	border:0;
	display:block;
    margin-left:auto;
    margin-right:auto;
}

img.main
{
	border:0;
	margin-left:-1px;
}

img.search
{
	margin-left:-5px;
	height:28px;
}

a.back
{
	position:absolute;
	top:7px;
	left:5px;
	padding-left:25px;
	padding-top:3px;
	background: url('../images/back0.png') no-repeat;
}

a.back:hover
{
	background: url('../images/back1.png') no-repeat;
}

a.fwd
{
	position:absolute;
	top:7px;
	left:35px;
	padding-left:32px;
	padding-top:3px;
	background: url('../images/fwd0.png') no-repeat;
}

a.fwd:hover
{
	background: url('../images/fwd1.png') no-repeat;
}


a.print
{
	position:absolute;
	right:0px;
	top:7px;
	padding-left:32px;
	padding-top:2px;
	background: url('../images/print0.png') no-repeat;
}

a.print:hover
{
	background: url('../images/print1.png') no-repeat;
}

a.home
{
	position:absolute;
	right:22px;
	top:6px;
	padding-left:32px;
	padding-top:2px;
	background: url('../images/home0.png') no-repeat;
}

a.home:hover
{
	background: url('../images/home1.png') no-repeat;
}

#in
{
	height:28px;
	margin-right:-5px;
}

#click
{
	background: url('../images/search.png') no-repeat;
	height:28px;
	width:28px;
	margin-left:-5px;
	border:0;
	cursor:arrow;
	font-size:0;
}
