body
{
	background-color:#fff;
	color:#333;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:400;
}

table
{
	border-collapse:collapse;
	border-color:silver;
	border-style:solid;
	border-width:1px;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	width:100%;
}

th
{
	background-color:#eee;
	border-collapse:collapse;
	border-color:silver;
	border-style:solid;
	border-width:1px;
	color:#666;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	padding:4px;
	text-align:left;
}

th a
{
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

th a:link
{
	color:#03697A;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

th a:visited
{
	color:#03697A;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

th a:active
{
	color:#00709F;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

th a:hover
{
	color:#00709F;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

th.left
{
	width:25%;
}

th.right
{
	width:75%;
}

th.new
{
	width:224px;
}

th.old
{
	width:226px;
}

tr
{
	border-collapse:collapse;
	border-color:silver;
	border-style:solid;
	border-width:1px;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:4px;
}

tr.yellow
{
	background-color:#ffff9C;
}

tr.yellowbold
{
	background-color:#ffff9C;
	font-weight:700;
}

td
{
	border-collapse:collapse;
	border-color:silver;
	border-style:solid;
	border-width:1px;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:4px;
}

td.center
{
	text-align:center;
}

td.right
{
	text-align:right;
}

td.sep
{
	border-color:white silver;
}

td.tooltip
{
	border-width: 0px;
	font-size : 16px;
	font-style : italic;
	text-align: center;
	width: 120px;
}

b
{
	font-weight:700;
}

p
{
	color:#333;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:400;
	margin:0;
	padding-bottom:5px;
	padding-top:5px;
}

p.center
{
	text-align:center;
}

.funcdesc
{
	font-size:16px;
}

ol
{
	font-size:16px;
}

ul
{
	color:#333;
	font-family:'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
	font-size:14px;
}

ul.cell
{
	margin:0 0 0 25px;
}

div
{
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
}

div.indent
{
	margin-left:2em;
}

div.tip
{
	background-color: #ffffff;
	border: 1px solid #103060;
	font-size : large;
	width: 120px;
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
}

a
{
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

a:link
{
	color:#00709f;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

a:visited
{
	color:#03697a;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

a:active
{
	color:#2a2a2a;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

a:hover
{
	color:#3390b1;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

a.ext:link
{
	color:#00709f;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

a.ext:visited
{
	color:#03697a;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

a.ext:active
{
	color:#2a2a2a;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

a.ext:hover
{
	color:#3390b1;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

a.button
{
	padding:4px;
	margin-left:5px;
	background:#E9E9E9;
	border:1px solid #999999;
	text-decoration:none;
	font-size:12px;
	line-height:16px;
	text-align:center;
	color:#444;
	cursor:pointer;
}

h1
{
	color:#707070;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight:400;
	margin:0;
	padding-bottom:33px;
	padding-top:15px;
}

.left_behind
{
	color:#A0A0A0;
}

.small
{
	font-size:12px;
	margin:-9px 0 -4px;
	padding-bottom:0;
	padding-top:5px;
}

h2
{
	color:#888;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:400;
	line-height:normal;
	padding-bottom:0;
	padding-top:20px;
}

h3
{
	color:navy;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:700;
	line-height:normal;
}

.code
{
	font-family:Consolas, "Courier New", Courier, mono;
	font-size:12px;
	white-space:nowrap;
}

.codeheader
{
	background-color:#eee;
	border-bottom:1px solid #aaa;
	border-left:1px solid #aaa;
	border-right:1px solid #aaa;
	border-top:1px solid #aaa;
	color:#000;
	font-family:Consolas, "Courier New", Courier, Verdana, Arial;
	font-size:12px;
	padding:16px;
	white-space:normal;
	width:90%;
}

.codebox
{
	background-color:#fff;
	border-bottom:1px solid #aaa;
	border-left:1px solid #aaa;
	border-right:1px solid #aaa;
	border-top:1px solid #aaa;
	color:#465584;
	font-family:Consolas, "Courier New", Courier, Verdana, Arial;
	font-size:12px;
	overflow-x:auto;
	padding:8px 8px 24px;
	white-space:nowrap;
	width:99%;
}

.S0
{
	color:#2a2a2a;
}

.S1
{
	color:green;
	font-style:italic;
}

.S2
{
	color:green;
	font-style:italic;
}

.S3
{
	color:#00F;
}

.S4
{
	color:#000090;
}

.S5
{
	color:#00F;
}

.S6
{
	color:olive;
}

.S7
{
	color:red;
}

.S8
{
	color:#FF8000;
}

.S9
{
	color:#2a2a2a;
}

.S10
{
	color:gray;
}

.S11
{
	color:olive;
}

.S12
{
	color:#dc143c;
}

.S13
{
	color:red;
}

.S14
{
	color:#939;
}

.S15
{
	color:#0080ff;
}

span
{
	background:transparent;
	color:#000;
	font-family:Consolas, "Courier New";
}

span.emphasis
{
	text-decoration:underline;
}

.experimental
{
	background:#ffffe0;
	border:solid;
	border-color:red;
	font-size:large;
	font-weight:700;
	padding:4px;
}

.specialnote
{
	background:#fffffa;
	border:solid;
	border-color:blue;
	font-size:large;
	font-weight:500;
	padding:4px;
}

span.mark_v
{
	color:#fff;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:600;
	margin:0;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:1px;
	background-color:#0979A8;
	box-shadow: 5px 5px 9px #888;
}
img.logo
{
	box-shadow: 5px 5px 20px #aaa;
	border:0;
	display:block;
    margin-left:auto;
    margin-right:auto;
}